:root {
  --prompt-width: min(700px, calc(60vw - 96px));
  --aside-offset: calc(var(--prompt-width) + 32px);
}

body {
    background-color: #f0f0f0;
    color: #222;
    margin: 32px;
    font-family: Helvetica, Arial, sans-serif;
}

.aside {
    width: 40%;
    max-width: 500px;
    position: fixed;
    top: 0;
    left: var(--aside-offset);
    margin: 32px 0 32px 32px;
}

.aside h1 {
    margin: 0 0 16px 0;
}

.aside .citation {
    font-size: 10pt;
    color: #666;
    margin-bottom: 16px;
}

.citation a {
    color: #666;
}

.aside .description {
    background-color: rgb(253 235 184);
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 4%);
    margin-top: 24px;
    font-size: 11pt;
}

.description p {
    margin: 0 0 1em 0;
}

.description p:last-child {
    margin: 0;
}

.description a {
    color: #222;
}

.prompt-sequence {
    width: var(--prompt-width);
}

h1 {
    font-weight: 500;
    font-size: 24pt;
    grid-column: 2;
    margin-bottom: 0;
}

.section {
    text-align: right;
    padding: 1em 1em 1em 0;
    font-size: 14pt;
}

.section,
.conversation {
    margin: 16px 0;
}


.examples,
.tool-definitions,
.response,
.prompt,
.scratchpad,
.reflections,
.tool-response {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

.example,
.tool-definition {
    padding: 4px;
    border-bottom: 1px solid #ccc;
}

.tool-definition:last-child,
.example:last-child {
    border-width: 0;
}

.response,
.prompt,
.scratchpad,
.reflections,
.tool-response {
    padding: 4px;
    margin: 4px 0;
}

.tool-definitions,
.examples,
.scratchpad,
.reflections {
    margin: 4px 10px 0 10px;
    border-color: #ccc;
}

details > div {
    margin: 0.5em 1em;
}

summary {
    margin: 2px 4px;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

summary:focus {
    outline: 0;
}

.response {
    background-color: white;
    border-color: #ddd;
}

.prompt {
    background-color: transparent;
    border-color: #ccc;
    color: #666;
    font-family: monospace;
    font-size: 11pt;
}

.question,
.answer,
.thought,
.action,
.observation,
.reflection {
    /* font-family: monospace; */
    line-height: 1.3em;
    font-size: 11pt;
    margin: 0.5em 1em;
}

em {
    font-weight: bold;
    font-style: normal;
}

.tool {
    color: #007fff;
    background-color: rgb(0 127 255 / 10%);
    padding: 2px 6px 2px 22px;
    border-radius: 4px;
    position: relative;
}

.special-token {
    color: #777;
    background-color: rgb(0 0 0 / 6%);
    border-radius: 4px;
    padding: 2px 4px;
    margin: 0 4px;
    font-family: monospace;
}

.tool-response {
    border-color: #b4d9ff;
    background-color: rgb(242 249 255);
}

.tool::before {
    position: absolute;
    top: 4px;
    left: 6px;
    content: "\eb6d";
    font: normal normal normal 12px/1 codicon;
    text-decoration: none;
    text-rendering: auto;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

mark.completion {
    background-color: rgb(201 245 201);
}





